* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.header button {
    height: 50px;
}

.container {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.grid-row {
    display: flex;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.grid-row:first-child {
    border-top: 2px solid black;
}

.grid-row:last-child {
    border-bottom: 2px solid black;
}