* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.header button {
    height: 50px;
}

.container {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.grid-row {
    display: flex;
}

.grid-cell {
    border: 1px solid black;
    height: 40px;
    width: 40px;
}